<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
</head>

<body>
    <h1>Register a new user</h1>
    <form method="POST" enctype="multipart/form-data" action="/register-user">
        <input type="file" name="file" placeholder="10s video"><br /><br />
        <input type="text" name="name" placeholder="Full name" /><br /><br />
        <input type="submit" value="Register">
    </form>
</body>

</html>